<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name = "Car Loan">
   <classes>
    <class name = "T.CLoan">
     <methods>
      <include name = "Cloan.*"/>
     </methods>    
    </class>   
   </classes>  
  </test>  
  
  <test name = "Home Loan">
   <classes>
   
    <class name = "T.HLoan">
      <methods>
       <exclude name = "HLoanMobileLogin">
       </exclude>
      </methods>
     </class>
   </classes>
  
  </test>
  
  <test name = "Personal Loan">
  
    <packages>
     <package name="T"/>
    </packages>
  
  
  </test>
  
  
</suite> 



